#full {
    width: 100%;
}

html, body {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
}

h2, h3, h4, a {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

h1 {
letter-spacing: -15px;
font-family: Open Sans;
color: rgb(232,114,12,1);
text-align: center;
font-size: 200px;
font-weight: 800;
line-height: 200px;
text-shadow: 2px 2px rgba(232,133,12,0.3);
}

.title2 {
    color: #E80C6A;
    text-shadow: 3px 3px rgba(119,33,70,0.6);
}

h2 {
font-size: 60px;
text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
}

.high-margin {
    margin-top: 50px;
}

.low-margin {
    margin-bottom: 50px;
}

.MainContainer {
perspective: 1px;
transform-style: preserve-3d;
height: 100vh;
overflow-x: hidden;
overflow-y: scroll;
}

.ContentContainer {
position: relative;
display: block;
background-color: black;
z-index: 1;
}

.Content {
margin: 0 auto;
padding: 15px 15px;
background-color: whitesmoke;
}

p {
margin: 15px 0;
}

.ParallaxContainer1 {
display: flex;
flex: 1 0 auto;
position: relative;
z-index: -1;
height: 100vh;
justify-content: center;
align-items: center;
transform: translateZ(-1px) scale(2);
background: url("../img/la_fade.jpg");
background-repeat: no-repeat;
background-size: cover;
background-color: rgb(250,228, 216);
}

.ParallaxContainer2 {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url("../img/la_purple.jpg");
    background-color: rgb(250,228, 216);
    }

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

body, html, .main {
height: 100%;
}

section {
    min-height: 100%;
}

.footer ul, .jumbotron ul {
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
}

#about img, #wrapup img {
    height: 250px;
    border-radius: 70%;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

#wrapup {
    background-color: darkgray;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    /* background-color: rgba(230, 198, 67, 0.5) */
    background-color: rgba(232,114,12,0.8)
}

.orange {
    color: rgba(232,114,12,01)
}

.projects img {
    width: 350px;
}

.projects ul {
    list-style: none;
    margin: 0 auto;
    display: block;
}

.main {
background-color: whitesmoke;

}

/* Slides */
* {
    box-sizing: border-box;
 }

 .container {
    position: relative;
 }

 .mySlides {
    display: none;

 }

 .cursor {
    cursor: pointer;
 }

 .prev,
 .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
 }

 .next {
    right: 0;
    border-radius: 3px 0 0 3px;
 }

 .prev:hover,
 .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
 }

 .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
 }

 .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
 }

 .row:after {
    content: "";
    display: table;
    clear: both
 }

 .column {
    float: left;
    width: 16.66%;
 }

 .demo {
    opacity: 0.6;
    height:200px;
    width: auto;
 }

 .active,
 .demo:hover {
    opacity: 1;
 }

 .mySlides img {
      height: 450px;
      margin-left: 380px;
 }

 .center {
      text-align: center;
 }
